

.margin {
    height: 100px;
}

section {
    width: 50%;
    float: left;
}

.mariocontainer {
    width: 50%;
    float: left;
}

.mariocontainer [class*="col-"]{
    height: 50px;;
}

.gumbacontainer {
    float: left;
    width: 50%;
}

.gumbacontainer [class*="col-"]{
    height: 50px;;
}

.section:after {
    content: "";
    display: table;
    clear: both;
}

div:after {
    content: "";
    display: table;
    clear: both;
}
.colorered {
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    height: 100px;
}

.colorebrown {
    background-color: rgb(151, 72, 7);
    border: 1px solid black;
    height: 100px;
}
.colorebrowndark {
    background-color: rgb(140, 57, 3);
    border: 1px solid black;
    height: 100px;
}

.colorepink {
    background-color: rgb(250, 192, 144);
    border: 1px solid black;
    height: 100px;
}

.coloreblue {
    background-color: rgb(0, 112, 192);
    border: 1px solid black;
    height: 100px;
}

.coloreyellow {
    background-color: rgb(255, 255, 0);
    border: 1px solid black;
    height: 100px;
}

.coloreblack {
    background-color: black;
    border: 1px solid black;
    height: 100px;
}
