
body {
    background-image: url(https://i.imgur.com/ZwocvDO.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color:rgba(0, 0, 0, 0.5);
    height: 100%;
}

.margin {
    height: 100px;
}

.mariocontainer {
    background-color: lightblue;
}

.mariocontainer::after {
    content: "";
    display: table;
    clear: both;
}

.mariocontainer [class*="col-"]{
    height: 15px;
}

.gumbacontainer {
    background-color: Bisque;
}

.gumbacontainer [class*="col-"]{
    height: 15px;
}

div::after{
    content: "";
    display: table;
    clear: both;
}

.nintendocontainer section {
    float: left;
    width: 25%;
}

.nintendocontainer [class*="col-"]{
    height: 14px;;
}

.nintendocontainer {
    width: 90%;
    margin: auto;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
}

.section:after {
    content: "";
    display: table;
    clear: both;
}


.colorered {
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    height: 100px;
}

.colorebrown {
    background-color: rgb(151, 72, 7);
    border: 1px solid black;
    height: 100px;
}
.colorebrowndark {
    background-color: rgb(140, 57, 3);
    border: 1px solid black;
    height: 100px;
}

.colorepink {
    background-color: rgb(250, 192, 144);
    border: 1px solid black;
    height: 100px;
}

.coloreblue {
    background-color: rgb(0, 112, 192);
    border: 1px solid black;
    height: 100px;
}

.coloreyellow {
    background-color: rgb(255, 255, 0);
    border: 1px solid black;
    height: 100px;
}

.coloreblack {
    background-color: black;
    border: 1px solid black;
    height: 100px;
}

.colorgrey {
    background-color: grey;
    border: 1px solid black;
    height: 100px;
}

.colorwhite {
    background-color: white;
    border: 1px solid black;
    height: 100px;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color:rgba(0, 0, 0, 0.3);
}

.mariocontainer section {
    width: 50%;
    float: left;
}

.gumbacontainer section {
    width: 50%;
    float: left;
}

.mainelemento {
   margin-top: 100px;
}

.mainelemento:last-child {
   margin-bottom: 100px;
}

.containerimmagini {
    border: 10px solid white;
    width: 35%;
    margin-left: 400px;
    padding: 20px;
}
